@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #1F618D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container-logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.7rem;
    text-shadow: 5px 12px 1px #1C2833;
    font-weight: 800;
}

.img{
    width: 100px;
    margin-right: 20px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Roboto';
    margin-right: 20px;
    border-radius: 25px;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu a:hover{
    background-color: #fff;
    font-size: 1.5rem;
    color: #1C2833;
    font-weight: 800;
}

/**Responsive Header*/

@media screen and (max-width: 767px){

    .header{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .container-logo{
        margin-left: 110px;
        text-shadow: 0px 0px 0px;
        font-weight: 900;
    }

    .menu a{
        transition: all 0.3s ease;
    }
    .menu a:hover{
        font-size: 1.3rem;
    }
   
}

/*Cuerpo de la pagina*/

.all{
    margin-top: 170px;
    margin-left: 15px;
}

.section-1__container{
    margin: 0px 20px;
}

.section-1__container h2{
    background-color: #F39C12;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 900;
    padding: 10px;
}

.section-1__container p{
    font-size: 1.3rem;
    font-family: sans-serif;
    line-height: 30px;
    text-align: justify;
}

.img1{
    margin-left: 520px;
    width: 30%;
    border: 10px solid #1C2833;
    border-radius: 20px;
}

.img2{
    margin-left: 520px;
    width: 30%;
    border: 10px solid #1C2833;
    border-radius: 20px;
}

/*Responsive contenido*/
@media screen and (max-width: 767px){

    .all{
        margin-top: 210px;
        margin-left: 15px;
    }
    
    .section-1__container{
        margin: 0px 40px;
    }
    
    .img1{
        margin-left: 80px;
        width: 60%;
        border: 10px solid #1C2833;
        border-radius: 20px;
    }
    
    .img2{
        margin-left: 80px;
        width: 60%;
        border: 10px solid #1C2833;
        border-radius: 20px;
    }
}

/*Footer de la pagina*/
.footer{
    background-color: #1C2833;
}

.container-f{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.about-container h2{
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

.pf{
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Roboto';
}

.redes h2{
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

.links{
    display: flex;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 50px;
    text-decoration: none;
}

.Icon{
    font-size: 35px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #283747;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

.Icon:hover{
    background-color: #566573;
    color: #000;
    font-size: 2.5rem;
}

.final-footer{
    padding: 15px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.3rem;
}

/*Footer Responsive*/
@media screen and (max-width: 767px){

    .container-f{
        padding: 15px;
        display: block
    }

    .links{
        display: inline-block;
        padding: 8px
    }

}